.message-received{
    background-color: #c1c1c161;
    margin-top: 10px;
    padding:9px;
    width: 90%;
    border-radius: 20px;
    color:black;
}
.message-sent{
    background-color: #9e38b4;
    margin-top: 10px;
    padding:9px;
    width: 90%;
    border-radius: 20px;
    color:white;
    float: right;
}