<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-6" style="margin:auto;margin-top: 5%;">
            <h1 style="text-align: center;">{{configurations.welcomingMessage}}</h1>
            <h4 style="text-align: center;">{{configurations.descriptionMessage}}</h4>

            <button mat-raised-button class="btn btn-info btn-sm mat-raised-button pointer pull-left"
                style="width: 40%;
                padding: 4%;margin-top: 25px;"
                [routerLink]="['/ticket/list']" routerLinkActive="active">
                <i class="material-icons">list</i>
                Observar Questões existentes
            </button>

            <button mat-raised-button class="btn btn-info btn-sm mat-raised-button pointer pull-right"
            style="width: 40%;
            padding: 4%;margin-top: 25px;"
            (click)="createNewTicket()">
                <i class="material-icons">add</i>
                Criar nova Questão
            </button>
        </div>
    </div>
</div>